html{
    font-size: 0;
}

#typo_body{
    height: 100%;
    width:  100%;
    margin: 0;
    background-color: #000804ff;
    color: "99ff99";
}

#m_transition{
    position: absolute;
    height: 100%;
    width:  100%;
    background-color: #0004;
    pointer-events: none;
}

