#resultPaint{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}

#paint{
    height: 96%;
    width: 48%;
    margin: 2% 1%;
    box-sizing: border-box;
    border: #99ff99 solid;
}
#paint_RGB{
    height: 60%;
    width: 100%;
    margin: 0;
}
#paint_save{
    height: 40%;
    width:  80%;
    margin: 0 10%;
}
#paint_save > button{
    height:   18%;
    width:   100%;
    margin:  1% 0;
    padding: 0;
    border: 0;
    background-color: #99ff99;
    font-size:3vh;
}

#result{
    height: 96%;
    width: 48%;
    margin: 2% 1%;
    box-sizing: border-box;
    border: #99ff99 solid;
    background-color: rgb(255, 251, 233);
}

#result_typo{
    position: relative;
    width: 70%;
    aspect-ratio: 1;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}
#result_meta{
    width: 70%;
    aspect-ratio: 16/5;
    margin-bottom: 1%;
    margin-left: 15%;
    margin-right: 15%;
}
#r_meta{
    width: 100%;
    height: 100%;
}

.r_canv{
    position: absolute;
    width: 100%;
    aspect-ratio: 1;
    
}
#canv_sav{
    opacity: 0;
}